---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE } from '../consts';
---

<BaseLayout title={SITE.TITLE} description={SITE.DESCRIPTION}>
  <main>
    <header class="mb-2">
      <h1><a href="/" class="heading-link">{SITE.NAME}</a></h1>
      <p class="subtitle">Software developer, entrepreneur</p>
    </header>

    <section>
      <p>
        This is my minimalistic landing page. I am a <a href="/profile/">full-stack developer</a> with
        expertise in building high-performing web applications and APIs for fast-paced startups. I have
        been a co-founder and CTO at a <a href="https://www.novele.com/">renewable energy startup</a>,
        at a web2.5 platform, and a frontend engineer for a social music app.
      </p>
      <p>
        Say hi by emailing <a href={`mailto:${SITE.EMAIL}`}>{SITE.EMAIL}</a>. You can
        also find me on <a href="https://www.linkedin.com/in/lorenzozemella/">LinkedIn</a> and
        <a href="https://www.instagram.com/lorenzozemella/">Instagram</a>.
      </p>
    </section>

    <section>
      <h2>About</h2>
      <p>
        See my <a href="/profile/">CV</a>, and read more about <a href="/about/">this site</a> and my
        <a href="/uses/">tech uses</a>.
      </p>
      <p>
        When I'm not at the computer, I am either <a href="/photography/">taking photos</a>, admiring
        automobiles, playing <a href="/guitar/">guitar</a>, traveling in search of amazing food, or
        drinking lots of espresso!
      </p>
    </section>
  </main>
</BaseLayout>
